project_id = "gwfuygmhcfmbzkewiuuv"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
port = 54322
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
refresh_token_rotation_enabled = true
security_update_password_require_reauthentication = true

[db]
port = 54323

[studio]
enabled = true
port = 54324
api_url = "http://localhost"

[storage]
enabled = true
port = 54325
file_size_limit = "50MiB"
s3_region = "us-east-1"

[functions.auto-detect-payment]
verify_jwt = false

[functions.calculate-route-price]
verify_jwt = false

[functions.auto-generate-routes]
verify_jwt = false